<h1>Lost Pets just Found</h1>

<ul>
  <% @pets.each do |pet| %>
    <li>
      <%= link_to pet.name, pet_path(pet) %>
    </li>
  <% end %>
</ul>

<br>
<hr>
<%= link_to 'Create a pet', new_pet_path %>
